

.wrap {
    overflow-y: auto;
    padding-top: 60px; 
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    .statistic{
        width: 100%;
        .progressBar{
            width: 100%;
            display: flex;
            justify-content: center
        }
        .title{
            padding-bottom: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 24px;
        }
    }
    .question{
        display: grid;
        padding: 0 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .no-results{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: span 2; 
        color: white;
        font-size: 24px;
        padding-top: 5rem;
    }
    .variant {
        padding: 1.2rem;
        border-radius: 0.625rem;
        background-color: white;
        font-size: 18px;
        gap:1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        position: relative;
        overflow: hidden;
        .content{
            display: flex;
            align-items: center;
            gap: 0.7rem;
            .img{
                width: 75px;
            }

            span{
                padding: .5rem;
            }
        }
       
        .box {
            min-width: 25px;
            min-height: 25px;
            border-radius: 0.25rem;
            border: 1px solid #e0dfe0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
        }

        .marker {
            top: 9px;
            left: -12px;
            min-width: 50px;
            min-height: 10px;
            background-color: #F9921A;
            transform: rotate(135deg);
            position: absolute;
            display: block;
            
        }
        
        .inactive-marker{
            display: none;
        }
    }
}


@media (max-width: 800px) {
    .wrap {


        .question{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
        }
        
        .variant{
            padding: 1rem;
        }
    }
}