.wrap{
    width: 100%;
        
    .container{
       display: block;
    }
    .mobileContainer{
        display: none;
    }
    
}

@media (max-width: 800px) {
    .wrap {
        .container {
            display: none;
        }

        .mobileContainer {
           display: block;
        }
    }
}



@media (max-width: 1024px) and  (max-height: 600px){
    .wrap {
        .container {
            display: none;
        }

        .mobileContainer {
            display: block;
         }
    }
}