.wrap{
    min-width: 100%;
    min-height: 93vh;
    background-color: #0096CE;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: #0096CE;
        .count-questions{
            font-size: 20px;
            color: white;
            display: flex;
            gap: 0.4rem;
        }
        .nav{
            text-decoration: none;
        }
    }

    .question-wrap{
        background-color: #FFFFFF;
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        .question{
            color: #0078AB;
            font-size: 18px;
            font-weight: 600;
        }

        .img{
            max-width: 350px;
        }
    }
   
}