.wrap{
    background-color: #003048;
    width: 100%;
    height: 93vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .error{
        color: white;
        font-size: 24px;
        font-weight: 600;
    }
}