.wrap{
    width: 100%;
    position: absolute;
    bottom: 0;
    
    
    .container{
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        .start{
            button{
                font-weight: 900;
            }
        }
    }
}