.wrap{
    min-width: 100%;
    min-height: 93vh;
    background-color: #0096CE;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

