.wrap{
    height: 100dvh;
    padding: 4rem .5rem 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.1rem;
    overflow-y: auto; 
}



@media (max-width: 800px) and (max-height: 1024px) {
    .wrap {
        flex: 9;
        margin-top: 60px;
        padding: 1rem .5rem 4rem;
    }
}
