.wrap{
    // height: 100vh;
    padding: 4rem .5rem 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.1rem;
    overflow-y: auto; 
}

@media (max-width: 932px) and (max-height: 430px) {
    .wrap {
        // height: 86vh;
        margin-top: 3rem;
        padding: 1rem .5rem;
    }
}

@media (max-width: 800px) and (max-height: 1024px) {
    .wrap {
        // height: 86vh;
        margin-top: 3rem;
        padding: 1rem .5rem;
    }
}

@media (max-width: 390px) and (max-height: 745px) {
    .wrap {
        // height: 94vh;
        box-sizing: border-box;
        margin-top: 3rem;
        padding: 1rem 0.5rem 4rem;
    }
}
