.wrap{
    position: relative;
    height: 93vh;
    .correct{
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        span{
            font-weight: bold;
        }
    }
    .title{
        padding: 1rem;
        font-weight: bold;
    }
    .options{
        padding: 1rem;
    }

    .btn{
        position: absolute;
        bottom: 0;
        width: 100%;
        button{
            cursor: pointer;
            background-color: #00BE5D;
            border: none;
            outline: none;
            width: 100%;
            color: white;
            height: 9vh;
            font-size: 24px;
        }
    }

    .btnIsLoading{
        position: absolute;
        bottom: 0;
        width: 100%;
        button{
            cursor: pointer;
            background-color: #8cdab2;
            border: none;
            outline: none;
            width: 100%;
            color: white;
            height: 9vh;
            font-size: 24px;
        }
    }
}


