.wrap{
    flex: 9;
    margin-top: 60px;
    overflow: scroll;
    .container{
        padding: 1rem;
    }

    .correct{
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        span{
            font-weight: bold;
        }
    }
    .title{
        padding: 1rem;
        font-weight: bold;
    }
   


    
}


