.wrap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .title{
        
        display: flex;
        align-items: center;
        gap:1rem;
        color: #378AB6;
        font-size: 18px;
        font-weight: 400;
        .notActive{
            padding: 0.5rem;
         
        }
        .active{
            background-color: #378AB6;
            padding: 0.5rem;
            border-radius: 0.3rem;
            svg{
                fill: white;
            }
        }
    }
}