.wrap {
    position: relative;
    user-select: none;
    .playback {
      position: absolute;
      color: white;
      font-size: 12px;
      background-color: #42403d;
      border: 1px solid #6a6966;
      border-radius: 0.425rem;
      padding: 0.3rem 0;
      top: 10px;
      left: -10px;
      width: 140px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      .playbackText {
        display: flex;
        gap: 2rem;
        padding: 0.2rem 0.1rem;
        border-radius: 0.225rem;
      }
      .playbackText:hover {
        background-color: #2a7cd8;
      }
    }
    .selection {
      position: absolute;
      color: white;
      background-color: #42403d;
      width: 60px;
      font-size: 12px;
      display: grid;
      gap: 0.2rem;
      border: 1px solid #63625c;
      border-radius: 0.425rem;
      left: 127px;
      top: 10px;
  
      .vector {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        padding-left: 0.2rem;
      }
      .speed {
        display: flex;
        width: 100%;
        justify-content: flex-start; 
      }
      .row {
     
        display: flex;
        justify-content: flex-end;
        padding: 0.2rem 0.5rem 0.2rem 0rem;
        border-radius: 0.225rem;
       
        svg {
          fill: white;
          width: 12px;
          height: 12px;
        }
      }
      .row:hover {
        background-color: #2a7cd8;
      }
  
      span {
        cursor: pointer;
      }
    }
  }
  