.wrap{
    width: 100%;
    max-width: 300px;
    .nightMode{
        padding: 1rem;
        color: white;
        display: flex;
        justify-content: space-between;

        .container{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    .coolors{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        margin: 0 1rem;
        justify-content: space-between;
        border-radius: 2rem;
        .dote{
            width:15px;
            height: 15px;
            border-radius: 50%;
            background-color: #003048;
        }
        
        .coolor1{
            background-color:#F3F3F6 ;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .coolor2{
            background-color:#FDC93A ;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .coolor3{
            background-color:#0096CE ;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .coolor4{
            background-color:#E8CCEC ;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}