.wrap {
    position: relative;
    background-color: white;
    width: 7rem;    
    height: 6rem;
    

    .videoPicture {
            cursor: pointer;
            width: 7rem;    
            height: 6rem;
            object-fit: cover; 
           
          
        
        .videoActive{
            width: 7rem;
            height: 6rem;  
            object-fit: cover;
            opacity: 0.5;
            cursor: pointer; 
        } 
        .loaded{
            width: 7rem;
            height: 6rem;  
            object-fit: cover;
            filter: blur(0);
            opacity: 1; 
            cursor: pointer; 

        }
        .loading {
            width: 7rem;
            height: 6rem;  
            object-fit: cover;
            filter: blur(10px); 
            opacity: 0.5;
            background: #f0f0f0;
            // background-size: cover;
            // background-position: center;
        }
    

        .number{
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 30px;
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: 999;
        }
    }
}