.wrap{
    background-color: #003048;
    width: 100%;
    height: 93vh;
    

    .btn{
        width: 100%;
        padding: 1rem;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border: none;
            cursor: pointer;
            background: #003048;
            color: white;
            font-weight: 700;
        }
    }

    .auth{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logOut{
        width: 100%;
        display: flex;
        justify-content: center;

        .btnlogOut{
            width: 100%;
            max-width: 100vw;
            display: flex;
            align-items:center;
            flex-direction: column;
            gap:5rem;
            justify-content: center;
         
            .title{
                width: 100%;
                box-sizing: border-box;
                max-width: 100vw;
                text-align: center;
                color: white;
            }
            button{
                border: none;
                background-color: #1C85B9;
                padding: 1rem;
                border-radius: 0.625rem;
                color: white;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}