.wrap{
    background-color: #003048;
    width: 100%;
    height: 100dvh;
    padding-top: 60px;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .btn{
        width: 100%;
        position: absolute;
        top: 100px;
        left: 20px;
    
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border: none;
            cursor: pointer;
            background: #003048;
            color: white;
            font-weight: 700;

            
        }
        button:hover{
           
            text-decoration: underline;
        }
       
    }


    .auth{
        position: absolute;
        top:20%;
        padding-bottom: 4rem;
    }
    .logOut{
        width: 100%;
        display: flex;
        justify-content: center;

        .btnlogOut{
            width: 100%;
            max-width: 100vw;
            display: flex;
            align-items:center;
            flex-direction: column;
            gap:5rem;
            justify-content: center;
         
            .title{
                width: 100%;
                box-sizing: border-box;
                max-width: 100vw;
                text-align: center;
                color: white;
            }
            button{
                border: none; 
                padding: 1rem;
                border-radius: 0.625rem;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}