.wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .video {
        width: 100%;
        height: 89vh;
        object-position: center;
    }
  
  }
  