.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;


.content {
    width: 350px;
    background-color: #2b3239;
    border-radius: 0.625rem;
    border: 1px solid #555b62;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .title {
        color: white;
        font-weight: 900;
    }

    .text {
        color: white;
        text-align: center; 
        font-size: 12px;
    }

    .btn{
        display: flex;
        width: 100%;
        gap: 1rem;
        .btn1{
            padding: 0.5rem;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            border-radius: 0.35rem;
            border: none;
            cursor: pointer;
            background-color: #1470D2;
            color: white;
            transition: background-color 0.5s ease, transform 0.5s ease; 
            &:hover{
                background-color:  #479ffc;
                transform: scale(1.05);
            }
        }
        .btn2{
            padding: 0.5rem;
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            border-radius: 0.35rem;
            border: none;
            cursor: pointer;
            background-color: #686F76;
            color: white;
            transition: background-color 0.5s ease, transform 0.5s ease; 
            &:hover{
                background-color:  #cacaca;
                transform: scale(1.05);
            }
        }
    }
}
}

