.flag{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    .title{
        display: flex;
        align-items: center;
        gap: 1rem;
        
        .notActive{
            padding: 0.5rem;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
        }
        .active{
            background-color:var(--active-background-color);
            padding: 0.5rem;
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
        }
    }

    .quantityActive{
        font-weight: 600;
        margin-right: 1.3rem;
        color: #FE8000;
    }

    .quantityNotActive{
        color: #FFCDA8;
        font-weight: 600;
        margin-right: 1.3rem;
    }
}