.form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    gap: 1rem;

    .resetform{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        .formInput{
            display: flex;
            flex-direction: column;
            gap:0.5rem;
  
    
            input{
                outline: none;
                border: none;
                padding: 0.5rem;
          
                font-size: 15px;
                border-radius: 0.625rem;
            }
        }
    
    }
    
    .submitButton{
        width: 100%;
        border: none;
        border-radius: 0.625rem;
        padding: 0.5rem;
        font-size: 18px;
        cursor: pointer;
        font-weight: 600;
    }

}