.wrap {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100dvh;
    .video {
        width: 100%;
        object-position: center;
        user-select: none;
    }
  
  }
  