.btn{
    padding: 0.2rem 0.7rem ;
    min-width: 100px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}