.wrap{
    .practiceQuestionManager{
        display: block;
    }
    .PracticeQuestionsManagerMobile{
        display: none;
    }
}

@media (max-width: 800px) {

    .wrap {
        .practiceQuestionManager{
            display: none;
        }
        .PracticeQuestionsManagerMobile{
            display: block;
        }
    }
}