.wrap{
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    // position: relative;

    .buttonContainer{
        flex-grow: 1;
        .btn{
            transform: translateZ(0);
            width: 100%;
            position: absolute;
            height: 50px;
            bottom: 0;
            border: none;
            outline: none;
            background-color: #00be5d;
            color: #fff;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
        
    
}