.wrap {
    height: 100dvh; 
    display: flex;
    flex-direction: column;
    position: relative;

    .buttonContainer {
        display: flex;
        margin-top: auto;
        position: sticky; 
        bottom: 0;
        width: 100%;

        .btn {
            transform: translateZ(0);
            flex-grow: 1;
            height: 50px;
            border: none;
            outline: none;
            background-color: #00be5d;
            color: #fff;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
