.wrap{
    position: relative;
    display: grid;
    grid-template-rows: 90% 10%;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    .btn{
        position:absolute ;
        bottom: 0;
        width: 100%;
        border: none;
        outline: none;
        background-color: #00BE5D;
        color: white;
        height: 9vh;
        font-size: 24px;
    }
    .btnIsLoading{
        position:absolute ;
        bottom: 0;
        width: 100%;
        border: none;
        outline: none;
        background-color: #00BE5D;
        color: white;
        height: 9vh;
        font-size: 24px;
        button{
            cursor: pointer;
            background-color: #8cdab2;
            border: none;
            outline: none;
            width: 100%;
            color: white;
            height: 9vh;
            font-size: 24px;
        }
    }
}