.question-wrap{
    width: 100%;
    max-width: 100vw;
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    
    .marker{
        top: -20px;
        left: 0px;
        padding: 3rem 0.45rem;
        background-color: #F9921A;
        position: absolute;
        transform: rotate(45deg);
        
        display: block;
    }
    .inactive-marker{
        display: none;
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        .question{
            font-size: 18px;
            font-weight: 600;
        }
    
        .img{
            max-width: 350px;
            max-height: 250px;
        }
    }
   
}

@media (max-width: 800px) {
    .question-wrap{
        
        width: 100%;
        max-width: 100vw;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        .container{
            flex-direction: column-reverse;
            gap: 0.5rem;
            .question{
                width: 100%;
            }
    
            .question-photo{
                width: 100%;
                display: flex;
                justify-content: center;
                .img{
                    max-width: 150px;
                    max-height: 100px;
    
                }
            }
        }
      
    }
    
    
}