.wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
        max-width: 300px;
        max-height: 250px;
        height: auto;
        object-fit: cover;
    }

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
