
.sliderContainer {
    width: 100%;
  
  
  
  .sliderTrack {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #55554A; 
    border-radius: 5px;
  
    .sliderFilled {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #909084; 
      border-radius: 5px 0 0 5px; 
      
    }
    .sliderThumb{
      position: absolute;
      top: 50%;
      width: 5px;
      height: 20px;
      background-color: white;
      border-radius: 0.625rem;
      cursor: pointer;
    }
  }
  
  }
  
  
  
  
  
  