.wrap{
    min-width: 100%;
    min-height: 93vh;
    background-color: #0096CE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .pausedMessage{
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
   
}